/* 
    Put your custom SCSS here!
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
/* color */
$primary: #255b77;
$seconardy: #acd4dc;
$success:  #f3c17b;
$info: #bd8364;
$danger: #c84b4e;

.light-blue {
    background-color: $secondary !important;
    border-color: $secondary;
    outline-color: $secondary;
}
.blue-outline {
    color: $primary !important;
}
.blue {
    background-color: $primary !important;
}
/* font */

@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


h1 ,h2, h3, h4, h5 {
    font-family: overpass, sans-serif;
}
h2 {
    font-size: 1.5rem;
}

/* general links */
p, dd, tr {
    a {
        color: $primary;
        
        
    }
    a:hover {
        color: $info;
        text-decoration: underline;
   }
}
.field-value {
    a {
        color: $primary;
        
        
    }
    a:hover {
        color: $info;
        text-decoration: underline;
   }
}
.mural-link {
    max-width: 200px;
    font-family: overpass;
    font-size: 2rem;
    text-transform: uppercase;
    box-shadow: 5px -5px $danger;
    a:hover {
        
            text-decoration: underline;
            
        
    }
}


.navbar-toggler {
    width: 100%;
}

/* toc */
.toc-link {
    a {
        color: $lapis-lazuli !important;
    }
    a:hover {
        font-style: italic !important;
    }
}

/* button */
.btn-primary {
    background-color:$info;
    border-color: $info;
    outline-color: $info;
  }

.btn-primary:active, .btn-primary:hover {
    background-color: $danger;
    border-color: $danger;
}
#browseSortButton {
    font-size: 1.2rem;
}
.btn:focus {
    outline: none;
    box-shadow: none;
  }
/* nav */
.nav-font {
    font-size: 1.5vw;
}

.nav-gutter {
    --bs-gutter-x: 0rem;
}
.navbar-toggler {
    margin: 15px;
}
.nav-title-link {
    color: white;

}
.nav-title-link:hover {
    color: white;
    
}
.nav-title {
    h1 {
        font-family: Overpass;
    }
}
/* media query changes font once links are in dropdown mode */

/* nav bar dropdown customization */
.dropdown-item {
    font-size: 1vw;
}

@media only screen and (max-width: 991px) {
    .nav-font {
      font-size: 1rem;
      padding: 10px;
      text-align: center;
    }
    .dropdown-item {
        font-size: 0.8rem;
      padding: 10px;
    }
}
/* dropdown style */
.dropdown-item:active {
    background-color: $success;
    color: black;
    
}
.dropdown-item:hover {
    background-color: $success;
    color: black;
}
.dropdown-menu {
    .active {
        background-color: $success; 
        color: black;
    }
    
    
}
/* card */
.card {
    h2 {
        font-size: 1.5rem;
    }
    
}
.no-border {
    border: none;
}


.img-card {
    position:relative;
    right: 16px;
    img {
    border-radius: 0.25rem 0.2rem 0 0 !important;
    }
    
    

}
.display-card {
    height: auto;
    max-height: 200px;
}
.card-body {
    height: auto;
    max-height: 400px;
}
@media only screen and (max-width: 991px) {
    .card-img-top {
        height: auto;
        max-height: 400px;
    }
}
/* footer */
.contact {
    color: white; 
    text-decoration: underline;
}

