/* 
    Put your custom SCSS here!
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
$lapis-lazuli: #255B77ff;
$old-rose: #B2827Cff;
$dun: #C9BDA2ff;
$carolina-blue: #8BB1C4ff;
$air-force-blue: #507E96ff;




/* custom colors */

$lapis-lazuli: #255B77ff;
$old-rose: #B2827Cff;
$dun: #C9BDA2ff;
$carolina-blue: #8BB1C4ff;
$air-force-blue: #507E96ff;

$info: $lapis-lazuli;
$primary: $carolina-blue;


/* boostrap style sheets */
@import "../node_modules/bootstrap/scss/bootstrap";
