/*  
    pages - style tweaks related to individual CB pages
    although most presentation is controlled by Bootstrap classes, these styles are necessary for default visualization pages to function correctly
*/

$lapis-lazuli: #255B77ff;
$old-rose: #B2827Cff;
$dun: #C9BDA2ff;
$carolina-blue: #8BB1C4ff;
$air-force-blue: #507E96ff;
/* index */
.carousel-item-title {
    background-color: rgba(37, 36, 36, 0.72);
}



/* item page */
.gallery-img {
    cursor: pointer;
}
#item-nav {
    a {
        position: absolute;
        top:500px;
    }
    .previous { left:10px; }
    .next{ right:10px; }
}
.breadcrumb {
    padding: 0.75rem 1rem;
    background-color: rgb(248, 249, 250);
    border-radius: 0.25rem;
}
.compound-thumb {
    max-height: 110px;
    max-width: 90%;
}
// compound object big modal class
@media (min-width:576px){
    .modal-xxl{ max-width:90%; }
}
@media (min-width:992px){
    .modal-xxl{ max-width:90%; }
}
@media (min-width:1200px){
    .modal-xxl{ max-width: 90%;  }
}


/* browse */
#browseItems .text-dark {
    display: -webkit-box;               
    -webkit-line-clamp: 3;              
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           
    max-width: 100%;                   
  }


  .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    max-width: 250px;
    object-fit: contain;
  }

  .h4 + .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

/* map */
#map { height: 750px; z-index: 98; }
.mapthumb {
    height: 100px;
}
.leaflet-fusesearch-panel .header {
    padding-bottom: 1.5em;
}

/* timeline */
.timeline-thumb {
    max-height: 250px;
    max-width: 100%;
}
/* subjects */
.tagcloud0{font-size:0.4em;}
.tagcloud1{font-size:0.5em;}
.tagcloud2{font-size:0.8em;}
.tagcloud3{font-size:1.1em;}
.tagcloud4{font-size:1.4em;}
.tagcloud5{font-size:1.6em;}
.tagcloud6{font-size:1.9em;}
.tagcloud7{font-size:2.2em;}
.tagcloud8{font-size:2.5em;}
.tagcloud9{font-size:2.8em;}
.tagcloud10{font-size:3.0em;}


/* About */
.about-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 1.5em;
    z-index: 10;
}
/* creating a narrow text column */
.about-contents > {
    h2 {
        font-weight: bold;
        padding-top: 100px;
        border-top: 1px dotted black;
    }

    h1, h2, h3, h4, h5, h6 {
        max-width: 650px;
        margin: 1.5rem auto 1rem;
    }

    p, .about-narrowed-content, .footnotes, ol, ul, blockquote {
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
    }

    blockquote {
        font-size: 1.75rem;
    }

}

/* narrow text block for page-narrow layout */
.page-narrow {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    max-width: 550px
}


.column {
    float: left;
    width:33%;
    padding: 5px;
    text-align: center
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
