---
# Default home page with boxes providing collection stats
layout: page
---
<div class = "row">
<div class="col-lg-12">
  
  {% include index/description.html %}
</div>
</div>
<div class = "row gx-4">
  
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card ">
        <div class="card">
          <img class="card-img-top py-2" src="../objects/arc_002.jpg" alt="Birds"> 
          <div class="card-body">
            <h5 class="card-title">Construction of The YWCA </h5>
            <p class="card-text">A blog post about the origins of the building.</p>
            <a href="{{ site.baseurl }}/exhibit-1.html" class="btn btn-danger text-light ">example 1</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card">
          <img class="card-img-top py-2" src="../objects/arc_001.jpg" alt="Children's Books">
          <div class="card-body">
            <h5 class="card-title">The pool</h5>
            <p class="card-text">More information about the Y's pool.</p>
            <a href="{{ site.baseurl }}/example-2.html" class="btn btn-danger text-light">example 2</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card">
          <img class="card-img-top py-2" src="https://media.freelibrary.org/assets/digital/items/mlumaa00063/images/large.jpg" alt="Lottery Game in Spanish">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger text-light">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card  ">
          <img class="card-img-top py-2" src="https://media.freelibrary.org/assets/digital/items/mlumaa00050/images/large.jpg" alt="Fourth of July">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger text-light">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card">
          <img class="card-img-top py-2" src="https://media.freelibrary.org/assets/digital/items/mlumaa00051/images/large.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger text-light">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card">
          <img class="card-img-top py-2" src="http://hiddencityphila.org/wp-content/uploads/2015/01/gtownywca_pastorius.jpg,Germantown" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger text-light">Go somewhere</a>
          </div>
      </div>
</div>

