---
# Default home page with boxes providing collection stats
layout: default
---
<div class="container my-4">
  <div class="row">
      <h1 class="px-0">{{ page.title }}</h1>
      <p class="px-0">{{ page.description }}</p>
      {{ content }}
  </div>
  <div class="row">
      <div class="px-0">
      {% for category in page.categories %}
        <a class="btn btn-secondary btn-lg mb-2" href="#{{ category | slugify }}">{{ category }}</a>
      {% endfor %}
      </div>
  </div>

  {% for category in page.categories %}
  <div class = "row mt-4">
    <h2 id="{{ category | slugify }}" class="p-0">{{ category }}</h2>
    {% assign category_projects = site.exhibits | where: 'tag', category %} 
    {% for exhibit in category_projects %}
    <div class = "col-6 col-lg-3 col-md-4 my-2 px-0 pe-2">
      <a class="card story-card {% if exhibit.description %}has-desc{% endif %}" href="{{ exhibit.url | relative_url }}">
        <div class="story-card-img w-100" style="background-image: url({{ exhibit.img | absolute_url }});"></div>
        <div class="story-card-body p-2 text-dark">
          <h3 class="story-card-title fs-5">{{ exhibit.title }}</h3>
          <p class="story-card-description fs-6"> {{ exhibit.description }}</p>
          <hr>
          <div class="text-center"><span class="btn btn-light">Read Story</span></div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>