---
layout: page 
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birds</title>
</head>
<body>
    <img class="first-exhibit" src="assets\pics\letter.jpg" alt="Civil War envelope">
    <p>Civil War envelope showing an eagle carrying an American flag in its claw and a serpent in its beak with the motto "The early bird catches the worm"</p>

    <img class="bird" src="assets\pics\bird.jpg" alt="Bird on stalk singing">
    <p>Bird on stalk singing</p>

    <h5>Songbird's Serenade</h5>
    <p> 
    In the dawn's first light, a songbird sings,
    Melodies that on the soft breeze cling.
    A serenade for the waking world
    <img class="vertical" src="assets\pics\flowers.png" alt="flowers">
    </p>
    <img class="vertical"  src="assets\pics\dove.png" alt="peaceful dove">
    <p>painted dove with branch, representing peace</p>
</body>
</html>

