---
# Default home page with boxes providing collection stats
layout: page
---
<div class = "row">
<div class="col-lg-12">
  
  {% include index/description.html %}
</div>
</div>
<div class = "row gx-4">
  
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card ">
        <div class="card">
          <img class="card-img-top py-2" src="assets\pics\collage.png" alt="Birds"> 
          <div class="card-body">
            <h5 class="card-title">First exhibit</h5>
            <p class="card-text">Collection of birds and poetry.</p>
            <a href="{{ site.baseurl }}/exhibit-1.html" class="btn btn-danger text-light text-dark">example 1</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card">
          <img class="card-img-top py-2" src="assets\pics\oz.png" alt="Children's Books">
          <div class="card-body">
            <h5 class="card-title">Second exhibit</h5>
            <p class="card-text">Children's books we've read as a kid.</p>
            <a href="{{ site.baseurl }}/example-2.html" class="btn btn-danger text-light">example 2</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card">
          <img class="card-img-top py-2" src="assets\pics\loteria.png" alt="Lottery Game in Spanish">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger text-light">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card  ">
          <img class="card-img-top py-2" src="assets\pics\fireworks.png" alt="Fourth of July">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger text-light">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card">
          <img class="card-img-top py-2" src="assets\pics\cherry.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger text-light">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class = "col-lg-6 col-md-12 col-sm-12 my-2 homepage-card">
        <div class="card">
          <img class="card-img-top py-2" src="assets\pics\hotel.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger text-light">Go somewhere</a>
          </div>
      </div>
</div>

