---
layout: page 
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birds</title>
</head>
<body>
    <div class="row">
        <div class="column">
            <img class="first-exhibit" src="assets\pics\letter.jpg" alt="Civil War envelope" style="width:100%">
            <p>Civil War envelope showing an eagle carrying an American flag in its claw and a serpent in its beak"</p>
        </div>
        <div class="column">
          <img src="assets\pics\hummingbird.png" alt="Hummingbird" style="width:100%">
          <p>Black and white hummingbird booklet of poetry</p>
        </div>
        <div class="column">
          <img src="assets\pics\nest.png" alt="Nest" style="width:100%">
          <p>Bird's nest surround by flowers, branches, and a butterfly</p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img src="assets\pics\flowers.png" alt="Flower" style="width:100%">
          <p>Yellow bird perched on rose stems</p>
        </div>
        <div class="column">
          <img src="assets\pics\dove.png" alt="Dove" style="width:100%">
          <p>Outlining of a blue dove symbolizing peace</p>
        </div>
        <div class="column">
          <img src="assets\pics\nest.png" alt="Nest" style="width:100%">
          <p>Bird's nest surround by flowers, branches, and a butterfly </p>
        </div>
      </div>
   
      <div class="row">
        <div class="column">
            <img class="first-exhibit" src="assets\pics\letter.jpg" alt="Civil War envelope" style="width:100%">
            <p>Civil War envelope showing an eagle carrying an American flag in its claw and a serpent in its beak with the motto "The early bird catches the worm"</p>
        </div>
        <div class="column">
          <img src="assets\pics\hummingbird.png" alt="Hummingbird" style="width:100%">
          <p>Black and white hummingbird booklet of poetry</p>
        </div>
        <div class="column">
          <img src="assets\pics\nest.png" alt="Nest" style="width:100%">
          <p>Bird's nest surround by flowers, branches, and a butterfly</p>
        </div>

        <div class="row">
            <div class="column">
              <img src="assets\pics\flowers.png" alt="Flower" style="width:100%">
              <p>Yellow bird perched on rose stems</p>
            </div>
            <div class="column">
              <img src="assets\pics\dove.png" alt="Dove" style="width:100%">
              <p>Outlining of a blue dove symbolizing peace</p>
            </div>
            <div class="column">
              <img src="assets\pics\nest.png" alt="Nest" style="width:100%">
              <p>Bird's nest surround by flowers, branches, and a butterfly </p>
            </div>
          </div>
      </div>
</body>
</html>

