---
# default "About" page layout
layout: default
---
{% include feature/timelinejs.html %}
<div class = "container">
</div>
<br>
<div class = "container">
    <div class ="row justify-content-center">
        <div class="col-12 col-md-8">
            <h1>Timeline</h1>
            
            {% include index/description.html %}
        </div>
    </div>
</div>
<!-- Commented out because no content has been written for this page yet
<div class="container my-4 about-contents">
    <div class = "row">
            <div class = "col-lg-3 col-md-6 col-sm-12 toc-link">
                <h2>Table of Contents</h2>
                {{ content | toc_only }}

            </div>
            <div class = "col-lg-9 col-md-6 col-sm-12">
                <h2>History</h2>
                {{ content }}
            </div>
            
    </div>
    
</div>
-->