---
# Default home page with boxes providing collection stats
<!--layout: page-->
title: home
home: true
---
{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100"> 
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-nav.html %}
    {% include collection-banner.html %}
    <main id="maincontent" role="main" class="flex-shrink-0 container my-3">
    <div class="row">
      
      <div class="col-md-12">
        
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{ site.description }}</p>
            {%- assign about = site.data.config-nav | where: "stub","/about.html" | size -%}
            {% if about > 0 %}<a class="btn light-blue btn-outline-primary" href="{{ '/about.html' | relative_url }}" >Learn More &raquo;</a>{% endif %}
          </div>
        </div>
        
        {% include index/carousel.html title="Sample Items" height="300" %}
      </div>
    </div>
    <div class = "row gx-4">
      
        <div class = "col-lg-3 col-md-6 col-sm-12 my-2 homepage-card ">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn light-blue text-dark btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      
        <div class = "col-lg-3 col-md-6 col-sm-12 my-2 homepage-card">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn light-blue text-dark btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class = "col-lg-3 col-md-6 col-sm-12 my-2 homepage-card">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn light-blue text-dark btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class = "col-lg-3 col-md-6 col-sm-12 my-2 homepage-card">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn light-blue text-dark btn-primary">Go somewhere</a>
            </div>
        </div>
      

    </div>
  </main>
  {% include footer.html %}
  {% include foot.html %}
  {% include scroll-to-top.html %}
  </body>
</html>
  
